<h1>Formulário de compra</h1>
<form action="/comprar" method="POST">
  <label for="">Nome do produto</label>
  <input type="text" name="name" id="name" /><br />
  <label for="">Preço</label>
  <input type="numer" name="price" id="price" /><br />
  <label for="">Total</label>
  <input type="number" name="amount" id="amount" /><br />
  <label>Email</label>
  <input type="email" name="email" id="email" /><br />
  <label>ID</label>
  <input type="number" name="id" id="id" /><br />
  <button>comprar</button>
</form>
