<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/icon/favicon.ico" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    
    <title>Blog</title>
  </head>
</html>
