<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img
      src="/images/icons/logo.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />Blog do Pedro</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"> Início</a>
      </li>
      <% categories.forEach(categorie => { %>
      <li class="nav-item active ml-2">
        <a class="nav-link" href="/categorie/<%=categorie.slug %>">
          <%=categorie.title %>
        </a>
      </li>
      <% }) %>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a href="/login" class="nav-link"> Login</a>
      </li>
    </ul>
  </div>
</nav>
