<%- include ('./partials/header'); %>
<body>
  <%- include ('./partials/navbar'); %>
  <div class="container">
    <h1>Perguntas</h1>
    <hr />
    <a href="/perguntar">
      <button class="btn btn-outline-secondary">Fazer Pergunta</button>
    </a>
    <%perguntas.forEach(pergunta => { %>
    <div class="card mt-4">
      <div class="card-header">
        <h3><%=pergunta.titulo %></h3>
      </div>
      <div class="card-body">
        <p><%=pergunta.descricao %></p>
      </div>

      <div class="card-footer">
        <a href="/pergunta/<%=pergunta.id %>">
          <button class="btn btn-outline-primary">
            Responder pergunta
          </button>
        </a>
      </div>
    </div>

    <% }) %>
  </div>
</body>
<%- include ('./partials/footer'); %>
