<%- include ('../partials/header'); %>
  <body>
    <%- include ('../partials/navbar'); %>
    <div class="container">
     <div class="card mt-5">
       <div class="card-header">
        <h1>Realizar pergunta</h1>
       </div>

       <div class="card-body">

        <form method="POST" action="/salvarpergunta">
          <label for="">Título</label>
          <input class="form-control" name="titulo" type="text" placeholder="Título" />
          <label for="">Descrição</label>
          <textarea
            cols="30"
            rows="10"
            name="descricao"
            placeholder="Faça sua pergunta"
            class="form-control"
          ></textarea>
          <br />
          <button class="btn btn-outline-primary">Perguntar</button>
       </div>
     </div>
      </form>
    </div>
  </body>

  