<%- include ('../partials/header'); %>
<body>
  <%- include ('../partials/navbar'); %>
  <div class="container">
    <h1 class="mt-5"><%=pergunta.titulo%></h1>
    <p class="mt-"><%=pergunta.descricao%></p>
    <hr>
    <form action="/responder" method="POST">
      <h3>Respostas</h3>
      <textarea class="form-control" name="corpo" placeholder="Digite sua resposta..."></textarea>
      <input type="text" name="pergunta" value="<%=pergunta.id %>" >
      <button class="mt-2 btn btn-outline-primary" type="submit"> Responder
      </button>
    </form>
    <hr>
    <h3>Respostas</h3>
    <hr>
    <% respostas.forEach(resposta => { %>
      <div class="card mt-3">
        <div class="card-body">
          <%=resposta.corpo %>
          <br>
        </div>
      </div>
<% }) %>
  </div>
</body>
   <%- include ('../partials/footer'); %>
</body>
