<%- include('../../partials/header'); %> <%- include('../../partials/navbar');
%>
<div class="container">
  <h2>Todos os administradores</h2>
  <table class="table table-bordered">
    <thead>
      <th>Id</th>
      <th>Email</th>
      <th>Ações</th>
    </thead>
    <tbody>
      <% admins.forEach(admin => { %>
      <tr>
        <th><%=admin.id %></th>
        <th><%=admin.email %></th>
      </tr>
      <% }) %>
    </tbody>
  </table>
  </div>

  <%- include('../../partials/footer'); %>
</div>
