<%- include('../../partials/header'); %>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h2 class="mt-4 mb-4">Login de Administrador</h2>
    </div>
    <div class="card-body">
      <form action="/authenticate" method="POST">
        <small>Email:</small>
        <input
          type="email"
          name="email"
          class="form-control mb-4"
          placeholder="contatoemail@email.com"
        />
        <small class="mt-4">Senha:</small>
        <input
          type="password"
          name="password"
          class="form-control mb-4"
          placeholder="**********"
        />
        <button class="btn-success btn-block mt-4 mb-4" type="submit">
          Logar
        </button>
      </form>
    </div>
  </div>

  <%- include('../../partials/footer'); %>
</div>
