<%- include('./partials/header'); %> <%- include('./partials/homenavbar'); %>
<body>
  <div class="container">
    <div class="card mt-4 mb-4">
      <div class="card-header">
        <h2><%=article.title %></h2>
      </div>
      <div class="card-body">
        <%-article.body %>
      </div>
    </div>
  </div>
</body>
<%- include('./partials/footer'); %>
