<%- include('./partials/header'); %> <%- include('./partials/homenavbar'); %>
<body>
  <%- include('./partials/jumbotron'); %>
  <div class="container">
    <% articles.forEach(article => { %>
    <div class="card mt-4 mb-4">
      <div class="card-header">
        <%=article.title %>
      </div>
      <div class="card-body">
        <a href="/<%=article.slug %>" class="btn btn-success">Leia mais...</a>
      </div>
    </div>
    <% }) %>
  </div>
</body>
<%- include('./partials/footer'); %>
