<%- include ("../partials/header.ejs") %> <%- include
("../partials/homenavbar.ejs") %>
<body>
  <div class="container">
    <h2 class="mt-5">Editar um novo plano</h2>
    <hr />
    <form action="/plans/update" method="POST">
      <div class="card">
        <div class="card-header">
          <h4>Editar um plano</h4>
        </div>

        <div class="card-body">
          <input type="hidden" name="id" value="<%=plan.id  %> " />

          <% if(title_msg.length > 0) { %>
          <div class="alert alert-danger">
            <%= title_msg %>
          </div>
          <% } %>
          <input
            type="text"
            name="title"
            id="title"
            class="form-control"
            placeholder="Título do plano"
            value="<%=plan.title%> "
          /><br />
          <% if(list_msg.length > 0) { %>
          <div class="alert alert-danger">
            <%= list_msg %>
          </div>
          <% } %>
          <input
            type="number"
            name="list"
            id="list"
            placeholder="N* de listas"
            value="<%=plan.list%>"
            class="form-control"
          /><br />

          <input
            type="number"
            name="client"
            id="client"
            placeholder="N* de clientes"
            value="<%=plan.client%>"
            class="form-control"
          /><br />
          <input
            type="number"
            name="value"
            id="value"
            placeholder="Custo"
            value="<%=plan.value%>"
            class="form-control"
          /><br />
          <hr />

          Permite importação de lista: <%if (plan.import) { %>
          <input type="checkbox" name="imports" id="imports" checked />
          <% } else { %>
          <input type="checkbox" name="imports" id="imports" />
          <% } %>
        </div>

        <div class="card-footer">
          <button class="btn btn-success btn-block">Editar</button>
        </div>
      </div>
    </form>
  </div>
</body>

<%- include ("../partials/footer.ejs") %>
