<%- include ("../partials/header.ejs") %> <%- include
("../partials/homenavbar.ejs") %>
<body>
  <div class="container">
    <h2 class="mt-5">Listagem de planos</h2>
    <hr />
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Preço</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% plans.forEach(plan => { %>
        <tr>
          <td><%= plan.id %></td>
          <td><%= plan.title %></td>
          <td>R$ <%= plan.value %></td>
          <td>
            <% if (plan.deactivated == 1) { %> Desativado <% } else { %> Ativado
            <% } %>
          </td>
          <td>
            <a href="/plans/deactivate/<%=plan.id %>"> Desativar </a>
          </td>
        </tr>

        <% }) %>
      </tbody>
    </table>
  </div>
</body>

<%- include ("../partials/footer.ejs") %>
