<%- include('../../partials/header'); %> <%- include('../../partials/navbar');
%>
<div class="container">
  <h2 class="mt-4 mb-4">Editar artigo</h2>
  <form action="/articles/update" method="POST">
    <input
      type="text"
      name="title"
      placeholder="Defina o título da categoria"
      class="form-control mb-4"
      value="<%=article.title%> "
    />
    <textarea
      class="form-control"
      name="body"
      rows="5"
      id="article"
      placeholder="Digite o texto do seu artigo"
    ></textarea>
    <label class="mt-4"> Categoria </label>
    <select name="categorie" class="form-control">
      <% categories.forEach((categorie) => { %> <% if(categorie.id ===
      article.categorieId) { %>
      <option value="<%=categorie.id %>" selected>
        <%=categorie.title %>
      </option>
      <% } else { %>
      <option value="<%=categorie.id %>"> <%=categorie.title %> </option>
      <% }%> <% }) %>
    </select>
    <input type="hidden" name="id" value="<%=article.id  %>" />
    <button class="btn btn-success mt-4">Atualizar edição</button>
  </form>
</div>
<div id="content" style="display: none;">
  <%-article.body%>
</div>

<%- include('../../partials/footer'); %>
<!-- TinyMCE -->
<script src="/js/tinymce/tinymce.min.js"></script>
<!-- FIM -->
<script>
  tinymce.init({
    selector: 'textarea',
    language: 'pt_BR',
    activeEditor: true,
    plugins: [
      'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons',
    ],
    init_instance_callback: () => {
      tinymce.get('article').setContent($('#content').html());
    },
    tinycomments_author: 'Pedro V',
  });
</script>
