<%- include('../../partials/header') %> <%- include('../../partials/navbar') %>

<div class="container">
  <h2 class="mt-4">Artigos</h2>
  <a href="/admin/articles/new">
    <button class="btn btn-success mt-4 mb-4">Criar novo Artigo</button>
  </a>
  <table class="table table-bordered">
    <thead>
      <th>ID</th>
      <th>Título</th>
      <th>Slug</th>
      <th>Categoria</th>
      <th>Ações</th>
    </thead>
    <tbody>
      <% articles.forEach(article => { %>
      <tr>
        <td><%=article.id %></td>
        <td><%=article.title %></td>
        <td><%=article.slug %></td>
        <td><%=article.categorie.title %></td>
        <td>
          <a href="/admin/articles/edit/<%=article.id %>">
            <button class="btn btn-outline-warning">Editar</button>
          </a>
          <form
            action="/articles/delete"
            method="POST"
            style="display: inline;"
            onsubmit="deleteConfirm(event, this)"
          >
            <input type="hidden" name="id" value="<%=article.id%>" />
            <button class="btn btn-outline-danger">Deletar</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('../../partials/footer') %>

<script>
  function deleteConfirm(e, form) {
    e.preventDefault();
    const opc = confirm('Você deseja deletar esse artigo?');
    if (opc) {
      form.submit();
    }
  }
</script>
