<%- include('../../partials/header'); %> <%- include('../../partials/navbar');
%>
<div class="container">
  <h2 class="mt-4 mb-4">Novo artigo</h2>
  <form action="/articles/save" method="POST">
    <input
      type="text"
      name="title"
      placeholder="Defina o título do artigo"
      class="form-control mb-4"
    />
    <textarea
      class="form-control"
      name="body"
      rows="5"
      placeholder="Digite o texto do seu artigo"
    ></textarea>
    <label class="mt-4"> Categoria </label>
    <select name="categorie" class="form-control">
      <% categories.forEach((categorie) => { %>
      <option value="<%=categorie.id %>"> <%=categorie.title %> </option>
      <% }) %>
    </select>
    <button class="btn btn-success mt-4">Cadastrar</button>
  </form>
</div>
<%- include('../../partials/footer'); %>
<!-- TinyMCE -->
<script src="/js/tinymce/tinymce.min.js"></script>
<!-- FIM -->
<script>
  tinymce.init({
    selector: 'textarea',
    language: 'pt_BR',
    plugins: [
      'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons',
    ],
    tinycomments_author: 'Pedro V',
  });
</script>
