<%- include('../../partials/header'); %> <%-
include('../../partials/homenavbar'); %>
<body>
  <div class="container">
    <% result.articles.rows.forEach(article => { %>
    <div class="card mt-4 mb-4">
      <div class="card-header">
        <%=article.title %>
      </div>
      <div class="card-body">
        <a href="/ <%=article.slug %>" class="btn btn-success">Leia mais...</a>
      </div>
    </div>
    <% }) %>

    <div class="row">
      <div class="col col-12 mb-4 mt-4">
        <% if(result.page >= 2) { %>
        <a
          class="btn btn-outline-success"
          href="/articles/page/<%=result.page-1  %>"
          style="float: left;"
        >
          Anterior</a
        >
        <%} else if(result.page == 2) { %>
        <a href="/" style="float: left;"> Anterior</a>
        <% } %> <% if(result.next) { %>
        <a
          class="btn btn-outline-success"
          style="float: right;"
          href="/articles/page/<%=result.page+1  %>"
        >
          Próxima página</a
        >

        <% } %>
      </div>
    </div>
  </div>
</body>
<%- include('../../partials/footer'); %>
