<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="/">
    <img
      src="/img/icons/navbar.png"
      width="40"
      height="40"
      class="d-inline-block align-top mt-2"
      alt=""
    />
  </a>
</nav>
