<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table</title>
  </head>
  <body>
    <table>
      <thead>
        <% header.forEach(col => { %>
        <th><%=col %></th>
        <% }) %>
      </thead>
      <tbody>
        <% rows.forEach(row => { %>
        <tr>
          <% row.forEach(element => { %>
          <td><%=element %></td>
          <% })%>
        </tr>
        <% })%>
      </tbody>
    </table>
  </body>
</html>
