<%- include('../../partials/header'); %> <%- include('../../partials/navbar');
%>
<div class="container">
  <h2 class="mt-4 mb-4">Editar categoria</h2>
  <form action="/categories/update" method="POST">
    <input
      type="text"
      name="title"
      placeholder="Defina o título da categoria"
      class="form-control"
      value="<%=categorie.title%> "
    />
    <input type="hidden" name="id" value="<%=categorie.id  %> " />
    <button class="btn btn-success mt-4">Atualizar</button>
  </form>
</div>
<%- include('../../partials/footer'); %>
