<%- include('../../partials/header') %> <%- include('../../partials/navbar') %>

<div class="container">
  <h2 class="mt-4">Categorias</h2>
  <a href="/admin/categories/new">
    <button class="btn btn-success mt-4 mb-4">Criar nova categoria</button>
  </a>
  <table class="table table-bordered">
    <thead>
      <th>ID</th>
      <th>Título</th>
      <th>Slug</th>
      <th>Ações</th>
    </thead>
    <tbody>
      <% categories.forEach(categorie => { %>
      <tr>
        <th><%=categorie.id %></th>
        <th><%=categorie.title %></th>
        <th><%=categorie.slug %></th>
        <th>
          <a href="/admin/categories/edit/<%=categorie.id %>">
            <button class="btn btn-outline-warning">Editar</button>
          </a>
          <form
            action="/categories/delete"
            method="POST"
            style="display: inline;"
            onsubmit="deleteConfirm(event, this)"
          >
            <input type="hidden" name="id" value="<%=categorie.id%>" />
            <button class="btn btn-outline-danger">Deletar</button>
          </form>
        </th>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('../../partials/footer') %>

<script>
  function deleteConfirm(e, form) {
    e.preventDefault();
    const opc = confirm('Você deseja deletar essa categoria?');
    if (opc) {
      form.submit();
    }
  }
</script>
