<%- include('../../partials/header'); %> <%- include('../../partials/navbar');
%>
<div class="container">
  <h2 class="mt-4 mb-4">Cadastrar categoria</h2>
  <form action="/categories/save" method="POST">
    <input
      type="text"
      name="title"
      placeholder="Defina o título da categoria"
      class="form-control"
    />
    <button class="btn btn-success mt-4">Cadastrar</button>
  </form>
</div>
<%- include('../../partials/footer'); %>
